$fontSize: 16px;
$fontFamily: RobotoCondReg;
$white: #fff;
$darkGrey: #333;

@mixin display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($type, $value) {
  -webkit-flex-#{$type}: $value;
  -moz-flex-#{$type}: $value;
  -ms-flex-#{$type}: $value;          
  flex-#{$type}: $value;
}

@mixin box-sizing($size) {
  -webkit-box-sizing: $size;
  -moz-box-sizing: $size;
  box-sizing: $size;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.options {
  .selection-list {
    border: 2px solid $darkGrey;
    border-radius: 10px;
    margin-bottom: 2%;

    .selection-list-item {
      width: 100%;
      height: 50px;
      border-bottom: 2px solid $darkGrey;
      font-family: $fontFamily;
      font-size: $fontSize;

      &:last-child {
        border-bottom: none;
      }

      &.selected {
        &:first-child {
          border-radius: 5px 5px 0 0;
        }

        &:last-child {
          border-radius: 0 0 5px 5px;
        }

        label {
          background-color: $darkGrey;

          &:after {
            background: url("../../images/select_checkmark_circle.svg") no-repeat;
          }

          .option-name {
            color: $white;
          }

          .option-price {
            color: $white;
          }
        }
      }

      label {
        @include box-sizing(border-box);
        width: 100%;
        height: 100%;
        padding: 10px;
        @include display;

        &:after {
          content: "";
          width: 30px;
          height: 30px;
          margin-left: 10px;
          background: url("../../images/select_circle_empty.svg") no-repeat;
          display: block;
          @include flex("shrink",0);
          -ms-flex: 0 0;
        }

        .option-element {
          line-height: 30px;
          text-transform: none;
          color: $darkGrey;
          display: block;
        }

        .option-name {
          @extend .option-element;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          @include flex("basis", 100%);
          @include flex("grow", 5);
          -ms-flex: 0 1 100%;
          -webkit-box-flex: 5;
        }

        .option-price {
          @extend .option-element;
          margin-left: 5px;
          @include flex("shrink",0);
          -ms-flex: 0 0;
        }
      }
    }
  }
}